<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <h3><b>Description: </b>{{job?.job_discription}}</h3>
            <h4><b>Address: </b>{{job?.job_address}}</h4>
            <h4><b>Status: </b><span class="status" [ngClass]="{'issued': job?.job_status=='ISSUED', 'accepted': job?.job_status=='ACCEPTED', 'scheduled': job?.job_status=='SCHEDULED', 'commenced': job?.job_status=='COMMENCED', 'completed': job?.job_status=='COMPLETE', 'enquiry': job?.job_status=='ENQUIRY'}">{{job?.job_status}}</span></h4>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="account-wall">
                <h5>Add Note</h5>
                <form>
                    <div class="form-group" [formGroup]="_form">
                        <label for="exampleInputEmail1">Description</label>
                        <textarea  formControlName="description" rows="3" class="form-control form-control-sm" id="description" placeholder="Enter description"></textarea>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary" (click)="onSubmit()">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-md-12 col-sm-12">
            <h4 class="text-center">Notes for the JOB</h4>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let note of notes">
                        <td>{{note.note_date | slice:0:10}}</td>
                        <td>{{note.note_time}}</td>
                        <td>{{note.note_description}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>