<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2 " style="margin-top:10px">
            <div class="account-wall">
                <h3 class="text-center">Registration</h3>
                <h4 class="text-center">MANCHESTER ELECTRIC</h4>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control form-control-sm" id="name" placeholder="Enter Name">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="tel">Phone Number</label>
                        <input type="text" class="form-control form-control-sm" id="phone" placeholder="Enter Mobile Number">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Address</label>
                        <input type="text" class="form-control form-control-sm" id="adddress1" placeholder="Enter first address line">
                        <input type="text" class="form-control form-control-sm" id="adddress2" placeholder="Enter second address line" style="margin-top:3px">
                        <input type="text" class="form-control form-control-sm" id="adddress3" placeholder="Enter third address line" style="margin-top:3px">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Profile Picture</label>
                        <input type="file" id="file" class="form-control form-control-sm">
                        <span class="custom-file-control"></span>
                    </div>
                    <button type="button" class="btn btn-primary float-right" (click)="onSubmit()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>